<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Document</title>
    <style>
      #body {
        width: 100%;
        height: 85.3vh;
        position: relative;
        background: #8ae4bc;
        overflow: auto;
      }
      #chat {
        position: fixed;
        bottom: 1%;
        display: flex;
        justify-content: space-between;
        width: 99%;
        height: 42px;
      }
      #chat input {
        width: 97%;
      }
      .my-chat {
        display: flex;
        justify-content: end;
        padding: 2px 0px;
      }
      .my-chat p {
        margin: 0;
        padding: 10px;
        background: yellow;
        border-radius: 10px;
        margin-right: 10px;
        max-width: 80%;
      }
      .other-chat {
        display: flex;
        justify-content: start;
        padding: 2px 0px;
      }
      .other-chat p {
        margin: 0;
        padding: 10px;
        background: white;
        border-radius: 10px;
        margin-left: 10px;
        max-width: 80%;
      }
      .end-chat {
        display: flex;
        justify-content: center;
        padding: 2px;
      }
      .end-chat p {
        margin: 0;
        padding: 10px;
        background: white;
        border-radius: 10px;
        margin: 15px;
      }
      #notice {
        display: flex;
        flex-direction: column;
        text-align: center;
        color: gray;
      }
      #notice p {
        margin: 5px;
      }
    </style>
  </head>
  <body>
    <h1>GPT api 실습</h1>
    <div id="body">
      <div id="msg">
        <div id="notice">
          <p>
            면접을 시작하겠습니다.<br />면접은 총 3개의 질문으로 구성됩니다.
          </p>
        </div>
      </div>
      <form id="chat">
        <input type="text" id="message" placeholder="답변을 입력해주세요" />
        <button>입력</button>
      </form>
    </div>
    <script>
      const key = "<%= key %>";
    </script>
    <script src="../utils/loading.js"></script>
    <script src="../static/script/interview/chat.js"></script>
  </body>
</html>
