<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <button type="button" onclick="mypage()">마이페이지</button>
    <script>
      // localStorage에 "userToken"으로 저장한다고 가정
      async function mypage() {
        const userToken = localStorage.getItem("userToken");
        if (!userToken) {
          alert("로그인이 필요합니다.");
        } else {
          const res = await axios({
            method: "POST",
            url: "/user/verify",
            headers: {
              Authorization: `Bearer ${userToken}`,
            },
          });
          if (res.data.result) {
            document.location.href = `/user/mypage/${res.data.nickname}`;
          } else {
            alert(res.data.message);
            return;
          }
        }
      }
    </script>
  </body>
</html>
