<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .my_div {
        width: 150px;
        height: 150px;
        background-color: pink;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <h1>과목 선택</h1>
    <div class="my_div" onclick="selectSubject('Algorithm')">알고리즘</div>
    <br />
    <div class="my_div" onclick="selectSubject('DataStructure')">자료구조</div>
    <br />
    <div class="my_div" onclick="selectSubject('Database')">데이터베이스</div>
    <br />
    <div class="my_div" onclick="selectSubject('Network')">네트워크</div>
    <br />
    <div class="my_div" onclick="selectSubject('OS')">운영체제</div>
    <br />
  </body>
  <script src="../static/script/interview/subject.js"></script>
</html>
