<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Do-IT</title>
  </head>
  <body>
    <h1>로그인</h1>
    <form name="userLogIn-form">
      <input
        type="text"
        id="userId"
        placeholder="아이디를 입력해주세요."
        required
      />
      <br />
      <input
        type="password"
        id="pw"
        placeholder="비밀번호를 입력해주세요."
        required
      />
      <br />
      <button type="button" onclick="userLogIn()">로그인</button>
    </form>

    <script>
      async function userLogIn() {
        const userForm = document.forms["userLogIn-form"];
        try {
          const res = await axios({
            method: "POST",
            url: "/userLogIn",
            data: {
              userId: userForm.userId.value,
              pw: userForm.pw.value,
            },
          });
          if (res.data.result) {
            localStorage.setItem("token", res.data.token);
          }
        } catch (error) {
          console.log(error);
        }
      }
    </script>
  </body>
</html>
