@use "variables" as v;
$mobilePlus: v.$mobile + 1;
$tabletPlus: v.$tablet + 1;

// Mobile
@mixin res--mobile {
  @media (width <= #{v.$mobile}px) {
    @content;
  }
}

// Tablet
@mixin res--tablet {
  @media (#{$mobilePlus}px <= width <= #{v.$tablet}px) {
    @content;
  }
}

// Desktop
@mixin res--desktop {
  @media (#{$tabletPlus}px <= width) {
    @content;
  }
}

// 메인 페이지
// 폰트 스타일
@mixin font-style {
  color: var(--common-black, #000);
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
