@use "../helper/" as *;

// Font color
$gray: var(--figma-black-3, #828282);
$white: var(--background-white, #fff);

.main {
  // Display
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  &__title {
    // Display
    display: inline-flex;
    align-items: center;
    margin: 30px;
    flex-shrink: 0;

    // Font
    @include mixin-font-style;
    color: $gray;
    font-size: 20px;
    line-height: 24px; /* 120% */
  }

  &__img {
    // Display
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    gap: 10px;

    &--logo {
      // Display
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 50vw;
        height: 13.0303vw;
        @include mixin-res--mobile {
          max-width: 269.419px;
          max-height: 70px;
        }
        @include mixin-res--web {
          width: 269.419px;
          height: 70px;
        }
      }
    }

    &--phones {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 90.9091vw;

        @include mixin-res--mobile {
          max-width: 615.5px;
          max-height: 603px;
        }
        @include mixin-res--web {
          max-width: 615.5px;
          max-height: 603px;
        }
      }
    }
  }

  &__content {
    // Display
    display: inline-flex;
    flex-direction: column;
    align-items: center;

    width: 255px;
    margin: 30px;
    gap: 10px;

    &--text1 {
      // Font
      @include mixin-font-style;
      font-size: 20px;
    }

    &--text2 {
      // Font
      @include mixin-font-style;
      text-align: center;
      font-size: 24px;
    }
  }
  //////////////////////////////////////////////// CS 면접 연습하기
  &__practice {
    // Display
    display: inline-flex;
    flex-direction: column;
    margin: 30px;
    gap: 20px;
    width: 78.7879vw;
    @include mixin-res--mobile {
      max-width: 500px;
    }
    @include mixin-res--web {
      max-width: 700px;
    }

    &--title {
      // Display
      display: flex;
      padding: 0px 5px;

      gap: 10px;

      // Font
      @include mixin-font-style;
      font-size: 20px;
      line-height: 24px; /* 120% */

      &[data-aos="fade-up"] {
        opacity: 0; // 스크롤 인터랙션에 의해 요소가 나타날 때 투명도를 조절
      }
    }

    &--body {
      // Display
      display: flex;
      align-items: flex-start;
      gap: 10px;

      // Font
      @include mixin-font-style;
      font-size: 16px;
      font-weight: 400;
      line-height: 28px; /* 175% */
    }

    &--img {
      display: flex;
      justify-content: center;
      img {
        width: 78.7879vw;
        height: 52.4242vw;
        border-radius: 15px;

        @include mixin-res--mobile {
          max-width: 500px;
          max-height: 332.317px;
        }
        @include mixin-res--web {
          max-width: 500px;
          max-height: 332.317px;
        }
      }
    }

    &--button {
      // Display
      padding: 10px 20px;
      align-items: center;

      width: 100%;
      background-color: white;
      border-radius: 12px;
      border: 0.5px solid var(--common-black, #000);

      // Font
      @include mixin-font-style;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
    }
  }

  //////////////////////////////////////////////// 스터디 참여하기
  &__study {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: var(--material-theme-ref-primary-primary-95, #ecf3fe);

    &--section {
      display: flex;
      flex-direction: column;
      margin: 30px;
      width: 78.7879vw;
      gap: 10px;

      @include mixin-res--mobile {
        max-width: 500px;
      }
      @include mixin-res--web {
        max-width: 700px;
      }

      &-title {
        @include mixin-font-style;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
      }

      &-body-first,
      &-body-second,
      &-body-third {
        @include mixin-font-style;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
      }
    }

    &--img {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
      margin-bottom: 50px;
      width: 100vw;
      // height: 600px;
      gap: 30px;
      overflow: hidden;
      &-first,
      &-second {
        display: flex;
        position: relative;
        align-items: center;
        width: 100vw;
        height: 68.18vw;
        max-width: 100vw;
        max-height: 400px;

        img {
          position: absolute;
          transition: transform linear;
          width: 211.28vw;
          height: 68.18vw;
          max-width: 1025.16px;
          max-height: 350px;
        }
      }
      &-first img {
        left: 600px;
        @include mixin-res--web {
          left: 900px;
        }
      }

      &-second img {
        right: 600px;
        @include mixin-res--web {
          right: 900px;
        }
      }
    }

    &--button {
      width: 77.8788vw;
      height: 40px;
      @include mixin-res--mobile {
        max-width: 500px;
      }
      @include mixin-res--web {
        max-width: 700px;
      }
      border-radius: 12px;
      border: 0.5px solid var(--common-black, #000);
      background: var(--common-black, #000);
      @include mixin-font-style;
      color: $white;
      font-size: 16px;
      font-weight: 900;
      line-height: 20px;
    }
  }

  //////////////////////////////////////////////// 최근에 개설된 스터디
  &__recent {
    width: 100vw;
    background-color: var(
      --material-theme-sys-light-primary-container,
      #d3e3fd
    );
    &--section {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 50px;
      // 부모 scroll snap 컨테이너
      overflow: auto;
      scroll-snap-type: x mandatory;
      &-title {
        @include mixin-font-style;
        font-size: 20px;
        line-height: 24px;
      }
      &-list {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;

        // 부모 scroll snap 컨테이너
        overflow: auto;
        scroll-snap-type: x mandatory;
        &-box {
          // Display
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 230px;
          height: 230px;
          margin: 50px;

          cursor: pointer;

          // Font
          background: $white;
          border-radius: 15px;
          border: 0.5px solid var(--secondary-default, #6b6b6b);

          // 자식 scroll snap
          scroll-snap-align: center;
        }
        &-title {
          display: flex;
          align-items: flex-start;
          width: 200px;
          @include mixin-font-style;
          font-size: 20px;
          line-height: 24px;
        }
        &-body {
          display: flex;
          flex-direction: column;
          width: 200px;

          &-intro {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
          }
          %-title {
            display: flex;
            @include mixin-font-style;
            font-size: 18px;
            font-weight: 600;
            line-height: 28px;
          }
          &-theme {
            display: flex;
            flex-direction: column;
            @include mixin-font-style;
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
          }
        }
      }
    }
  }
}
