.header {
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 80px;
  margin: 16px 15px;
}
.header__button {
  display: flex;
  justify-content: space-between;
}
.header__button--practice,
.header__button--study,
.header__button--sign-in,
.header__button--profile,
.header__button--sign-out {
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  background-color: white;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  display: block;
}
.header__button--profile img {
  width: 24px;
  height: 24px;
}
