.modal {
  display: none;
  position: fixed;
  z-index: 10;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal__content {
  background-color: #fff;
  margin: 10% auto;
  padding: 3% 7%;
  border-radius: 5px;
  width: 80%;
  max-width: 400px;
  animation-name: modal-animation;
  animation-duration: 0.3s;
  display: flex;
  flex-direction: column;
}
.modal__close {
  font-size: 30px;
  width: 3%;
  margin: 0px 0 10% 98%;
  cursor: pointer;
}
.modal__close:hover {
  color: #f44336;
}
.modal__h2 {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  display: flex;
  justify-content: center;
  margin-top: 24%;
}
.modal__h3 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  display: flex;
  justify-content: center;
  margin: 5% 0 15% 0;
}
.modal__label {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-top: 3%;
}
.modal__title {
  text-align: center;
}
.modal__form--sign-in, .modal__form--sign-up {
  display: flex;
  flex-direction: column;
}
.modal__input {
  margin: 5px 0;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #000;
}

.modal__sign-in .modal__button--sign-up {
  background-color: white;
  border: none;
  margin: 3% 0 15% 0;
  cursor: pointer;
}
.modal__sign-in .modal__button--sign-up:hover {
  color: #f44336;
}
.modal__sign-in .modal__button--sign-in {
  padding: 3%;
  border-radius: 25px;
  background-color: var(--other-dark-background-black, #161616);
  color: #fff;
  border: none;
  margin-top: 20%;
  cursor: pointer;
}

.modal__sign-up .modal__button--sign-up {
  padding: 3%;
  border-radius: 25px;
  background-color: var(--other-dark-background-black, #161616);
  color: #fff;
  border: none;
  margin-top: 20%;
  cursor: pointer;
}
.modal__sign-up .modal__button--sign-in {
  background-color: white;
  border: none;
  margin: 3% 0 15% 0;
  cursor: pointer;
}
.modal__sign-up .modal__button--sign-in:hover {
  color: #f44336;
}

@keyframes modal-animation {
  from {
    opacity: 0;
    transform: translateY(100vw);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
