@use "../helper/" as *;

.studypage {
  display: flex;
  flex-direction: column;
  margin-bottom: 3vh;
  align-items: center;
  &__register {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 90px;
    background-color: aliceblue;
    align-items: center;
    &:hover {
      cursor: pointer;
    }

    &-text {
      @include mixin-font-style;
      margin-right: 10px;
      margin-top: 10px;
      line-height: 30px;
      font-size: 16px;
      font-weight: 400;
    }
    &-go {
      display: flex;
      flex-wrap: nowrap;
      padding-bottom: 10px;
      &:hover {
        cursor: pointer;
        transform: scale(1.1);
        @include mixin-res--web {
          position: relative;
          left: 10px;
        }
      }
      &--header {
        @include mixin-font-style;
        width: 150px;
        margin-right: 10px;
        line-height: 40px;
        font-size: 20px;
      }
      &--button {
        @include mixin-font-style;
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 20px;
        background: var(--figma-blue, #2f80ed);
        color: var(--text-light-on-color, #fff);
        text-align: center;
        font-size: 14px;
        font-weight: 800;
        line-height: 40px;
      }
    }
    @include mixin-res--web {
      flex-direction: row;
      &-text {
        margin-top: 0px;
        line-height: 40px;
      }
      &-go {
        padding-bottom: 0px;
      }
    }
  }
  &__lists {
    width: 80%;
    margin: 0 10%;
    &-contentbox {
      @include mixin-res--web {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
      }
    }
    &-webdivider {
      width: 110%;
      position: relative;
      right: 5%;
      height: 6px;
      background-color: lightgray;
      border-radius: 20px;
      margin-bottom: 20px;
      @include mixin-res--mobile {
        display: none;
      }
    }
    &-divider {
      background-color: lightgray;
      border-radius: 20px;
      &--bold {
        width: 110%;
        position: relative;
        right: 5%;
        height: 6px;
        @include mixin-res--web {
          display: none;
        }
      }
      &--light {
        height: 1.5px;
      }
    }
    &-header {
      margin: 30px 75px;
      text-align: center;
      > p {
        @include mixin-font-style;
        font-size: 20px;
        line-height: 24px;
      }
    }
    &-element {
      height: 400px;
      width: 90%;
      margin: 0% 5%;
      @include mixin-res--web {
        box-sizing: border-box;
        border: 4px solid var(--figma-black-3, #828282);
        border-radius: 20px;
        width: 48%;
        padding: 15px 30px;
        margin: 0% 2% 2% 0%;
      }
      &:hover {
        cursor: pointer;
      }
    }
    &-title {
      @include mixin-font-style;
      height: 48px;
      font-size: 20px;
      line-height: 24px;
      padding: 20px 0px 10px;
    }
    &-intro {
      @include mixin-font-style;
      height: 40%;
      font-weight: 400;
      font-size: 14px;
      line-height: 28px;
      overflow: auto;
      // overflow: hidden;
      // text-overflow: ellipsis;
    }
    &-otherinfo {
      display: flex;
      flex-direction: column;
      height: 150px;
      &--category {
        height: 90px;
        display: flex;
        flex-wrap: wrap;
        align-content: end;
        margin: 10px 0px 3px;

        &--elem {
          @include mixin-theme("thin");
          margin: 2px;
          padding: 2px 10px;
          height: 25px;
          width: fit-content;
          font-size: 14px;
          line-height: 25px;
          flex-shrink: 0;
        }
      }
      &--status {
        display: flex;
        @include mixin-font-style;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        &--member {
          margin-left: 10px;
        }
      }
    }
  }
}
