.content__msg {
  width: 100%;
  height: 83vh;
  position: relative;
  background: #d3e3fd;
  overflow: overlay;
}
.content__msg::-webkit-scrollbar {
  width: 8px;
}
.content__msg::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 42%, 0.49);
  border-radius: 100px;
}
.content__notice-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: black;
  margin: 7vh 5vh 0 5vh;
}
.content__notice-title--text {
  color: var(--common-black, #000);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 120% */
}
.content__notice-description {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: black;
  margin: 3vh 0 3.5vh 0;
}
.content__notice-description--text {
  color: var(--common-black, #000);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.content__divider {
  height: 6px;
  background-color: white;
  border-radius: 20px;
  margin: 2vh 4.5vw;
}
.content__other-chat {
  display: flex;
  justify-content: start;
  padding: 2px 0px;
  margin: 1vh 0;
}
.content__other-chat--text {
  color: var(--common-black, #000);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 10px;
  border-radius: 15px;
  border: 0.5px solid var(--figma-black-3, #828282);
  background: var(--background-white, #fff);
  margin-left: 4.5vw;
  max-width: 70%;
}
.content__my-chat {
  display: flex;
  justify-content: end;
  padding: 2px 0px;
  margin: 1vh 0;
}
.content__my-chat--text {
  color: var(--common-black, #000);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 10px;
  border-radius: 15px;
  border: 0.5px solid var(--figma-black-3, #828282);
  background: #fef01b;
  margin-right: 4.5vw;
  max-width: 70%;
}
.content__end-chat {
  display: flex;
  justify-content: center;
  padding: 2px;
  margin: 1vh 0;
}
.content__end-chat--text {
  color: var(--common-black, #000);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 10px;
  border-radius: 15px;
  border: 0.5px solid var(--figma-black-3, #828282);
  background: var(--background-white, #fff);
  margin: 0 4.5vw;
}
.content__end-chat--text b {
  font-weight: bold;
}
.content__button {
  display: flex;
  justify-content: center;
  margin: 2vh 0;
}
.content__button--end, .content__button--one-more {
  width: 40vw;
  height: 4vh;
  border-radius: 25px;
  border: 0;
  color: var(--text-light-on-color, #fff);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 20px;
  margin: 2vw;
  cursor: pointer;
}
.content__button--end {
  background: var(--common-black, #000);
}
.content__button--one-more {
  background: var(--figma-blue, #2f80ed);
}
.content__form {
  display: flex;
  justify-content: center;
  margin: 1.7vh 4.5vw 0 4.5vw;
}
.content__textarea {
  width: 98.5%;
  height: 6vh;
  border: 0;
  padding: 0;
  resize: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.content__textarea::placeholder {
  color: gray;
  font-family: Roboto;
  font-style: 15px;
  line-height: normal;
}
.content__textarea:focus {
  outline: none;
}
.content__textarea::-webkit-scrollbar {
  display: none;
}
.content__send-button {
  display: flex;
  align-items: flex-start;
  padding: 0;
  border: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
}
.content__send-button i {
  font-size: 20px;
  color: black;
}
.content__send-button:hover i {
  color: #2f80ed;
}
.content__chat-divider {
  height: 1.5px;
  background-color: #c6c6c6;
  border-radius: 20px;
  margin: 0 4.5vw;
}
