@media screen and (min-width: 330px) and (max-width: 1581px) {
  .content__subject {
    margin: 0 5.5vw;
  }
  .content__box {
    margin: 3vh 3vw;
  }
}
@media screen and (min-width: 1582px) and (max-width: 1799px) {
  .content__subject {
    margin: 0 10.5vw;
  }
  .content__box {
    margin: 3vh 3vw;
  }
}
@media screen and (min-width: 1800px) {
  .content__subject {
    margin: 0;
  }
  .content__box {
    margin: 3vh 2vw;
  }
}
.content {
  display: flex;
  flex-direction: column;
  margin-bottom: 3vh;
}
.content__title {
  color: var(--common-black, #000);
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  margin: 8vh 0vh 2vh 0vh;
  text-align: center;
}
.content__description {
  color: var(--common-black, #000);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 3vh;
  text-align: center;
}
.content__divider {
  height: 6px;
  background-color: lightgray;
  border-radius: 20px;
  margin: 2vh 7.5vw;
}
.content__subject {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.content__box {
  width: 255px;
  height: 230px;
  border-radius: 20px;
  border: 1px solid var(--secondary-default, #6b6b6b);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  cursor: pointer;
}
.content__box::after {
  content: "";
  position: absolute;
  width: 255px;
  height: 260px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.77);
  z-index: 1;
  opacity: 0;
  transition: all 0.35s;
}
.content__box:hover::after {
  opacity: 1.5;
}
.content__box:hover .content__hover--name {
  bottom: 2vh;
  opacity: 1;
}
.content__box:hover .content__hover--description {
  top: 2vh;
  opacity: 1;
}
.content__box:hover .content__hover--list {
  margin: 5px;
  opacity: 1;
}
.content__hover {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content__hover--name {
  position: relative;
  bottom: 15vh;
  z-index: 2;
  color: white;
  font-size: 20px;
  font-weight: 900;
  transition: all 0.35s;
  opacity: 0;
}
.content__hover--description {
  position: relative;
  top: 13.2vh;
  z-index: 2;
  color: white;
  font-size: 16px;
  transition: all 0.35s;
  opacity: 0;
}
.content__icon {
  height: 125px;
}
.content__name {
  color: var(--common-black, #000);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-top: 17px;
}
