@use "../helper/" as *;

.header {
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {
    width: 80px;
    margin: 16px 15px;
    cursor: pointer;
    &:hover {
      animation-name: logohover;
      animation-iteration-count: infinite;
      animation-duration: 1s;
      animation-timing-function: ease-in;
    }
  }
  &__button {
    display: flex;
    justify-content: space-between;
    &--practice,
    &--study,
    &--sign-in,
    &--profile,
    &--sign-out {
      padding-top: 10px;
      padding-bottom: 10px;
      border: none;
      border-radius: 15px;
      background-color: transparent;
      @include mixin-title2;
      @include mixin-res--web {
        @include mixin-title1;
      }
      display: block;
      @include mixin-button-animation-style;
    }
    &--profile img {
      width: 24px;
      height: 24px;
      @include mixin-res--web {
        width: 26px;
        height: 26px;
      }
    }

    &--profile:hover {
      @include mixin-res--web {
        img {
          filter: invert(100%);
        }
      }
    }

    &--practice:hover,
    &--study:hover,
    &--sign-in:hover,
    &--sign-out:hover,
    &--profile:hover {
      @include mixin-button-hover-animation-style;
    }
  }

  @include mixin-res--web {
    height: 70px;
  }
}

@keyframes logohover {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
