@use "../helper/" as *;

.content {
  &__msg {
    width: 100%;
    height: 83vh;
    position: relative;
    background: #d3e3fd;
    overflow: overlay;
  }
  &__msg::-webkit-scrollbar {
    width: 8px;
  }
  &__msg::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 42%, 0.49);
    border-radius: 100px;
  }
  &__notice-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
    margin: 7vh 5vh 0 5vh;
    &--text {
      @include mixin-headline3;
    }
  }
  &__notice-description {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
    margin: 3vh 0 3.5vh 0;
    &--text {
      @include mixin-headline4;
    }
  }
  &__divider {
    height: 6px;
    background-color: white;
    border-radius: 20px;
    margin: 2vh 4.5vw;
  }
  &__other-chat {
    display: flex;
    justify-content: start;
    padding: 2px 0px;
    margin: 1vh 0;
    &--text {
      @include mixin-headline4;
      padding: 10px;
      border-radius: 15px;
      border: 0.5px solid var(--figma-black-3, #828282);
      background: var(--background-white, #fff);
      margin-left: 4.5vw;
      max-width: 70%;
    }
  }
  &__my-chat {
    display: flex;
    justify-content: end;
    padding: 2px 0px;
    margin: 1vh 0;
    &--text {
      @include mixin-headline4;
      margin: 0;
      padding: 10px;
      border-radius: 15px;
      border: 0.5px solid var(--figma-black-3, #828282);
      background: #fef01b;
      margin-right: 4.5vw;
      max-width: 70%;
    }
  }
  &__end-chat {
    display: flex;
    justify-content: center;
    padding: 2px;
    margin: 1vh 0;
    &--text {
      @include mixin-headline4;
      padding: 10px;
      border-radius: 15px;
      border: 0.5px solid var(--figma-black-3, #828282);
      background: var(--background-white, #fff);
      margin: 0 4.5vw;

      b {
        font-weight: bold;
      }
    }
  }
  &__button {
    display: flex;
    justify-content: center;
    margin: 2vh 0;
    &--end,
    &--one-more {
      width: 40vw;
      height: 4vh;
      border-radius: 25px;
      border: 0;
      color: var(--text-light-on-color, #fff);
      text-align: center;
      font-size: 14px;
      font-style: normal;
      font-weight: 800;
      line-height: 20px;
      margin: 2vw;
      cursor: pointer;
    }
    &--end {
      background: var(--common-black, #000);
    }
    &--one-more {
      background: var(--figma-blue, #2f80ed);
    }
  }
  &__form {
    display: flex;
    justify-content: center;
    margin: 0 4.5vw;
  }
  &__textarea {
    width: 98.5%;
    height: 6vh;
    border: 0;
    padding: 0;
    margin-top: 1.7vh;
    resize: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::placeholder {
      color: gray;
      font-family: Roboto;
      font-style: 15px;
      line-height: normal;
    }
    &:focus {
      outline: none;
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__send-button {
    display: flex;
    height: 33px;
    padding-top: 7px;
    border-radius: 10px;
    border: none;
    margin-top: 1.2vh;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    @include mixin-button-animation-style;

    i {
      font-size: 20px;
      color: black;
    }

    i:hover {
      @include mixin-button-hover-animation-style;
    }
  }
  &__chat-divider {
    height: 1.5px;
    background-color: #c6c6c6;
    border-radius: 20px;
    margin: 0 4.5vw;
  }
}
