// box 1개, 2개, 3개
@media screen and (min-width: 330px) and (max-width: 1581px) {
  .content {
    &__subject {
      margin: 0 5.5vw;
    }
    &__box {
      margin: 3vh 3vw;
    }
  }
}

// box 3개
@media screen and (min-width: 1582px) and (max-width: 1799px) {
  .content {
    &__subject {
      margin: 0 10.5vw;
    }
    &__box {
      margin: 3vh 3vw;
    }
  }
}

// box 5개
@media screen and (min-width: 1800px) {
  .content {
    &__subject {
      margin: 0;
    }
    &__box {
      margin: 3vh 2vw;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  margin-bottom: 3vh;
  &__title {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    margin: 8vh 0vh 2vh 0vh;
    text-align: center;
  }
  &__description {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 3vh;
    text-align: center;
  }
  &__divider {
    height: 6px;
    background-color: lightgray;
    border-radius: 20px;
    margin: 2vh 7.5vw;
  }
  &__subject {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }
  &__box {
    width: 255px;
    height: 230px;
    border-radius: 20px;
    border: 1px solid var(--secondary-default, #6b6b6b);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    cursor: pointer;
  }
  &__box::after {
    content: "";
    position: absolute;
    width: 255px;
    height: 260px;
    border-radius: 20px;
    background: rgb(0 0 0 / 77%);
    z-index: 1;
    opacity: 0;
    transition: all 0.35s;
  }
  &__box:hover {
    &::after {
      opacity: 1.5;
    }

    .content__hover--name {
      bottom: 6vh;
    }
    .content__hover--description {
      top: -2vh;
    }
  }
  &__hover {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    &--name {
      position: relative;
      bottom: 15vh;
      z-index: 2;
      color: white;
      font-size: 20px;
      font-weight: 900;
      transition: all 0.35s;
    }
    &--description {
      position: relative;
      top: 13vh;
      z-index: 2;
      color: white;
      font-size: 16px;
      transition: all 0.35s;
    }
  }
  &__icon {
    height: 125px;
  }
  &__name {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin-top: 17px;
  }
}
