// main__mobile
@media screen and (min-width: 330px) and (max-width: 767px) {
}

// main__tablet
@media screen and (min-width: 768px) and (max-width: 1011px) {
}

// main__desktop
@media screen and (min-width: 1012px) {
}

.contents {
  width: 100%;
}
.userdata {
  width: 80%;
  margin: 30px 10%;
  &__h4 {
    color: var(--common-black, #000);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  &__title {
    color: var(--common-black, #000);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    & p {
      margin: 20px 0px 15px;
    }
    & input {
      width: 100%;
      height: 40px;
      line-height: 20px;
      padding: 10px 20px;
      box-sizing: border-box;
    }
  }
}
.studyList {
  width: 80%;
  margin: 30px 10%;
  &__h4 {
    color: var(--common-black, #000);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  &__menu {
    margin: 27px 0px;
    display: flex;
    height: 22px;
    &--divider {
      height: 22px;
      width: 2px;
      margin: 0px 5px;
      background-color: lightgray;
      border-radius: 20px;
    }
    & button {
      border: none;
      background-color: transparent;
      color: var(--common-black, #000);
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 22px;
      padding: 0px;
    }
  }
  &__lists {
    width: 80%;
    margin: 0px 10% 30px;
    &-divider {
      width: 100%;
      height: 6px;
      background: #c6c6c6;
      border-radius: 20px;
    }
    &-elem {
      height: 200px;
      position: relative;
      & div:first-child {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
      }
      &--title {
        color: var(--common-black, #000);
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 34px;
      }
      &--status {
        padding: 10px 20px;
        width: 100px;
        line-height: 14px;
        position: relative;
        right: 10px;
        border-radius: 20px;
        text-align: center;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 800;
        &-allowed {
          background: var(--figma-blue, #2f80ed);
          color: var(--text-light-on-color, #fff);
        }
        &-waiting {
          background: rgb(96, 185, 108);
          color: var(--text-light-on-color, #fff);
        }
        &-rejected {
          background: rgb(242, 100, 100);
          color: var(--text-light-on-color, #fff);
        }
      }
      &--intro {
        margin-top: 14px;
        color: var(--common-black, #000);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        height: 80px;
      }
    }
  }
  &__lists-category {
    position: absolute;
    bottom: 10px;
    & span {
      background-color: antiquewhite;
      padding: 2px 5px;
      border-radius: 10px;
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;
      margin-right: 5px;
    }
  }
}
