@use "../helper/" as *;
.contents {
  width: 100%;
}
.userdata {
  width: 80%;
  margin: 30px 10%;
  &__h4 {
    color: var(--common-black, #000);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  &__title {
    color: var(--common-black, #000);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    & p {
      margin: 20px 0px 15px;
    }
    & input {
      width: 100%;
      height: 40px;
      line-height: 20px;
      padding: 10px 20px;
      box-sizing: border-box;
    }
  }
  & button {
    margin-top: 30px;
    padding: 10px 0px;
    width: 100%;
    border-radius: 25px;
    border: none;
    background: var(--figma-blue, #2f80ed);
    color: var(--text-light-on-color, #fff);
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 20px;
  }
}
.studyList {
  width: 80%;
  margin: 30px 10%;
  &__h4 {
    color: var(--common-black, #000);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  &__menu {
    margin: 27px 0px;
    display: flex;
    height: 22px;
    &--divider {
      height: 22px;
      width: 2px;
      margin: 0px 5px;
      background-color: lightgray;
      border-radius: 20px;
    }
    & button {
      border: none;
      background-color: transparent;
      color: var(--common-black, #000);
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 22px;
      padding: 0px;
    }
  }
  &__lists {
    width: 80%;
    margin: 0px 10% 30px;
    @include mixin-res--web {
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      &[hidden] {
        display: none;
      }
    }
    &-divider {
      width: 100%;
      height: 6px;
      background: #c6c6c6;
      border-radius: 20px;
      @include mixin-res--web {
        display: none;
      }
    }
    &-elem {
      height: 250px;
      width: 100%;
      position: relative;
      @include mixin-res--web {
        box-sizing: border-box;
        border: 4px solid var(--figma-black-3, #828282);
        border-radius: 20px;
        width: 48%;
        padding: 15px 30px;
        margin: 0% 2% 2% 0%;
      }
      &:hover {
        cursor: pointer;
      }
      &--title {
        @include mixin-font-style;
        height: 48px;
        width: calc(100% - 90px);
        font-size: 20px;
        line-height: 24px;
        padding: 10px 0px 5px;
      }
      &--status {
        @include mixin-font-style;
        font-weight: 400;
        font-size: 16px;
        height: 24px;
        position: absolute;
        top: 10px;
        right: 0px;
        padding: 5px 10px;
        border-radius: 25px;
        @include mixin-res--web {
          top: 20px;
          right: 28px;
        }
        &-waiting {
          background: rgb(96, 185, 108);
          color: var(--text-light-on-color, #fff);
        }
        &-allowed {
          background: var(--figma-blue, #2f80ed);
          color: var(--text-light-on-color, #fff);
        }
        &-rejected {
          background: rgb(242, 100, 100);
          color: var(--text-light-on-color, #fff);
        }
      }
      &--intro {
        @include mixin-font-style;
        height: 40%;
        font-weight: 400;
        font-size: 12px;
        line-height: 28px;
        overflow: hidden;
      }
      &--category {
        height: 42px;
        display: flex;
        overflow-x: auto;
        margin: 10px 0px;
        &::-webkit-scrollbar {
          width: 5px;
          height: 4px;
          background-color: #ffffff;
        }
        &::-webkit-scrollbar-thumb {
          background: #6e6d6d;
          &:hover {
            background: black;
          }
        }
        & span {
          @include mixin-theme("thin");
          margin: 0px 2px;
          padding: 3px 10px;
          height: 32px;
          width: fit-content;
          font-size: 16px;
          line-height: 32px;
          flex-shrink: 0;
        }
      }
    }
  }
}
