@media screen and (min-width: 330px) and (max-width: 767px) {
  .header__logo {
    width: 80px;
  }
}
.study {
  width: 80vw;
  margin: 40px 10vw;
}
.study__menu {
  height: 40px;
  text-align: center;
  margin: 20px;
  line-height: 40px;
}
.study__registerform {
  text-align: center;
  margin: 20px 0px;
}
