.studypage {
  display: flex;
  flex-direction: column;
  margin-bottom: 3vh;
  align-items: center;
}
.studypage__register {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 90px;
  background-color: aliceblue;
  align-items: center;
}
.studypage__register-text {
  color: var(--common-black, #000);
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 10px;
  margin-top: 10px;
  line-height: 30px;
  font-size: 16px;
  font-weight: 400;
}
.studypage__register-go {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 10px;
  cursor: pointer;
}
.studypage__register-go--button {
  cursor: pointer;
}
.studypage__register-go:hover {
  transform: scale(1.1);
}
@media (768px <= width) {
  .studypage__register-go:hover {
    position: relative;
    left: 10px;
  }
}
.studypage__register-go--header {
  color: var(--common-black, #000);
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 150px;
  margin-right: 10px;
  line-height: 40px;
  font-size: 20px;
}
.studypage__register-go--button {
  color: var(--common-black, #000);
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background: var(--figma-blue, #2f80ed);
  color: var(--text-light-on-color, #fff);
  text-align: center;
  font-size: 14px;
  font-weight: 800;
  line-height: 40px;
}
@media (768px <= width) {
  .studypage__register {
    flex-direction: row;
  }
  .studypage__register-text {
    margin-top: 0px;
    line-height: 40px;
  }
  .studypage__register-go {
    padding-bottom: 0px;
  }
}
.studypage__lists {
  width: 80%;
  margin: 0 10%;
}
@media (768px <= width) {
  .studypage__lists-contentbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }
}
.studypage__lists-webdivider {
  width: 110%;
  position: relative;
  right: 5%;
  height: 6px;
  background-color: lightgray;
  border-radius: 20px;
  margin-bottom: 20px;
}
@media (width <= 767px) {
  .studypage__lists-webdivider {
    display: none;
  }
}
.studypage__lists-divider {
  background-color: lightgray;
  border-radius: 20px;
}
.studypage__lists-divider--bold {
  width: 110%;
  position: relative;
  right: 5%;
  height: 6px;
}
@media (768px <= width) {
  .studypage__lists-divider--bold {
    display: none;
  }
}
.studypage__lists-divider--light {
  height: 1.5px;
}
.studypage__lists-header {
  margin: 30px 75px;
  text-align: center;
}
.studypage__lists-header > p {
  color: var(--common-black, #000);
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-size: 20px;
  line-height: 24px;
}
.studypage__lists-element {
  height: 400px;
  width: 90%;
  margin: 0% 5%;
  cursor: pointer;
}
@media (768px <= width) {
  .studypage__lists-element {
    box-sizing: border-box;
    border: 2px solid var(--figma-black-3, #828282);
    border-radius: 20px;
    width: 48%;
    padding: 15px 30px;
    margin: 0% 2% 2% 0%;
  }
}
.studypage__lists-title {
  color: var(--common-black, #000);
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  height: 48px;
  font-size: 20px;
  line-height: 24px;
  padding: 20px 0px 10px;
  word-break: keep-all;
}
.studypage__lists-intro {
  height: 140px;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  overflow: hidden;
  white-space: pre-wrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
.studypage__lists-otherinfo {
  display: flex;
  flex-direction: column;
  height: 150px;
}
.studypage__lists-otherinfo--category {
  height: 90px;
  display: flex;
  flex-wrap: wrap;
  align-content: end;
  margin: 10px 0px 3px;
}
.studypage__lists-otherinfo--category--elem {
  border-radius: 20px;
  background: var(--figma-light-blue, #2d9cdb);
  color: var(--figma-black-6, #f2f2f2);
  padding: 0 15px;
  margin: 2px 2px;
  line-height: 1.5;
  display: inline-block;
  background: var(--figma-light-blue, #2d9cdb);
  margin: 2px;
  padding: 2px 10px;
  height: 25px;
  width: fit-content;
  font-size: 14px;
  line-height: 25px;
  flex-shrink: 0;
}
.studypage__lists-otherinfo--status {
  display: flex;
  color: var(--common-black, #000);
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}
.studypage__lists-otherinfo--status--member {
  margin-left: 10px;
}
